<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.ContractMapper">

    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.ContractPo">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column="order_id" property="orderId" />
        <result column="contract_no" property="contractNo" />
        <result column="contract_type" property="contractType" />
        <result column="version_no" property="versionNo" />
        <result column="contract_status" property="contractStatus" />
        <result column="sign_mode" property="signMode" />
        <result column="sign_effective_rule" property="signEffectiveRule" />
        <result column="file_url" property="fileUrl" />
        <result column="external_contract_no" property="externalContractNo" />
        <result column="generate_time" property="generateTime" />
        <result column="sign_time" property="signTime" />
        <result column="effective_time" property="effectiveTime" />
        <result column="invalid_time" property="invalidTime" />
        <result column="invalid_reason" property="invalidReason" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
    </resultMap>

    <sql id="baseColumnList">
        t.id, t.contract_id, t.order_id, t.contract_no, t.contract_type, t.version_no,
        t.contract_status, t.sign_mode, t.sign_effective_rule, t.file_url,
        t.external_contract_no, t.generate_time, t.sign_time, t.effective_time,
        t.invalid_time, t.invalid_reason, t.create_time, t.create_by,
        t.modify_time, t.modify_by, t.row_version, t.row_valid
    </sql>

    <select id="selectByOrderId" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_contract t
        WHERE t.order_id = #{orderId}
        AND t.row_valid = 1
    </select>

    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_contract t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.ContractPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_contract t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="orderId != null and orderId != ''">
            AND t.order_id = #{orderId}
        </if>
        <if test="contractType != null and contractType != ''">
            AND t.contract_type = #{contractType}
        </if>
        <if test="contractStatus != null and contractStatus != ''">
            AND t.contract_status = #{contractStatus}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_contract t
        WHERE t.row_valid = 1
        <if test="params.orderId != null and params.orderId != ''">
            AND t.order_id = #{params.orderId}
        </if>
        <if test="params.contractType != null and params.contractType != ''">
            AND t.contract_type = #{params.contractType}
        </if>
        <if test="params.contractStatus != null and params.contractStatus != ''">
            AND t.contract_status = #{params.contractStatus}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM vso_contract t
        WHERE t.row_valid = 1
        <if test="params.orderId != null and params.orderId != ''">
            AND t.order_id = #{params.orderId}
        </if>
    </select>

    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vso_contract (
            contract_id, order_id, contract_no, contract_type, version_no,
            contract_status, sign_mode, sign_effective_rule, file_url, external_contract_no,
            generate_time, sign_time, effective_time, invalid_time, invalid_reason,
            create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{contractId}, #{orderId}, #{contractNo}, #{contractType}, #{versionNo},
            #{contractStatus}, #{signMode}, #{signEffectiveRule}, #{fileUrl}, #{externalContractNo},
            #{generateTime}, #{signTime}, #{effectiveTime}, #{invalidTime}, #{invalidReason},
            now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <insert id="batchInsertPo">
        INSERT INTO vso_contract (
            contract_id, order_id, contract_no, contract_type, version_no,
            contract_status, sign_mode, sign_effective_rule, file_url, external_contract_no,
            generate_time, sign_time, effective_time, invalid_time, invalid_reason,
            create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.contractId}, #{item.orderId}, #{item.contractNo}, #{item.contractType}, #{item.versionNo},
                #{item.contractStatus}, #{item.signMode}, #{item.signEffectiveRule}, #{item.fileUrl}, #{item.externalContractNo},
                #{item.generateTime}, #{item.signTime}, #{item.effectiveTime}, #{item.invalidTime}, #{item.invalidReason},
                now(), #{item.createBy}, now(), #{item.modifyBy}, 1, 1
            )
        </foreach>
    </insert>

    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.ContractPo">
        UPDATE vso_contract t SET
        <if test="contractStatus != null and contractStatus != ''">
            t.contract_status = #{contractStatus},
        </if>
        <if test="versionNo != null">
            t.version_no = #{versionNo},
        </if>
        <if test="fileUrl != null and fileUrl != ''">
            t.file_url = #{fileUrl},
        </if>
        <if test="signTime != null">
            t.sign_time = #{signTime},
        </if>
        <if test="effectiveTime != null">
            t.effective_time = #{effectiveTime},
        </if>
        <if test="invalidTime != null">
            t.invalid_time = #{invalidTime},
        </if>
        <if test="invalidReason != null and invalidReason != ''">
            t.invalid_reason = #{invalidReason},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE t.id = #{id}
    </update>

    <update id="logicalDeletePo" parameterType="Long">
        UPDATE vso_contract t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM vso_contract
        WHERE id = #{value}
    </delete>

    <delete id="batchPhysicalDeletePo">
        DELETE FROM vso_contract
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>