<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.MdmProjectionOptionFamilyMapper">
    <select id="selectByOptionFamilyCode" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.MdmProjectionOptionFamilyPo">
        SELECT * FROM mdm_projection_option_family
        WHERE option_family_code = #{optionFamilyCode}
    </select>
</mapper>
