<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.MdmProjectionVariantMapper">
    <select id="selectByVariantCode" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.MdmProjectionVariantPo">
        SELECT * FROM mdm_projection_variant
        WHERE variant_code = #{variantCode}
    </select>
</mapper>
