<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.OrderVehicleSnapshotMapper">

    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderVehicleSnapshotPo">
        <id column="id" property="id" />
        <result column="snapshot_id" property="snapshotId" />
        <result column="order_id" property="orderId" />
        <result column="model_code" property="modelCode" />
        <result column="model_name" property="modelName" />
        <result column="config_code" property="configCode" />
        <result column="config_name" property="configName" />
        <result column="color_code" property="colorCode" />
        <result column="color_name" property="colorName" />
        <result column="option_snapshot" property="optionSnapshot" />
        <result column="sale_scope_code" property="saleScopeCode" />
        <result column="display_snapshot" property="displaySnapshot" />
        <result column="snapshot_version" property="snapshotVersion" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
    </resultMap>

    <sql id="baseColumnList">
        t.id, t.snapshot_id, t.order_id, t.model_code, t.model_name, t.config_code, t.config_name,
        t.color_code, t.color_name, t.option_snapshot, t.sale_scope_code, t.display_snapshot,
        t.snapshot_version, t.create_time, t.create_by, t.modify_time, t.modify_by, t.row_version, t.row_valid
    </sql>

    <select id="selectByOrderId" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_vehicle_snapshot t
        WHERE t.order_id = #{orderId}
        AND t.row_valid = 1
    </select>

    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_vehicle_snapshot t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderVehicleSnapshotPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_vehicle_snapshot t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="orderId != null and orderId != ''">
            AND t.order_id = #{orderId}
        </if>
        <if test="modelCode != null and modelCode != ''">
            AND t.model_code = #{modelCode}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_vehicle_snapshot t
        WHERE t.row_valid = 1
        <if test="params.orderId != null and params.orderId != ''">
            AND t.order_id = #{params.orderId}
        </if>
        <if test="params.modelCode != null and params.modelCode != ''">
            AND t.model_code = #{params.modelCode}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM vso_order_vehicle_snapshot t
        WHERE t.row_valid = 1
        <if test="params.orderId != null and params.orderId != ''">
            AND t.order_id = #{params.orderId}
        </if>
    </select>

    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vso_order_vehicle_snapshot (
            snapshot_id, order_id, model_code, model_name, config_code, config_name,
            color_code, color_name, option_snapshot, sale_scope_code, display_snapshot,
            snapshot_version, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{snapshotId}, #{orderId}, #{modelCode}, #{modelName}, #{configCode}, #{configName},
            #{colorCode}, #{colorName}, #{optionSnapshot}, #{saleScopeCode}, #{displaySnapshot},
            #{snapshotVersion}, now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <insert id="batchInsertPo">
        INSERT INTO vso_order_vehicle_snapshot (
            snapshot_id, order_id, model_code, model_name, config_code, config_name,
            color_code, color_name, option_snapshot, sale_scope_code, display_snapshot,
            snapshot_version, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.snapshotId}, #{item.orderId}, #{item.modelCode}, #{item.modelName}, #{item.configCode}, #{item.configName},
                #{item.colorCode}, #{item.colorName}, #{item.optionSnapshot}, #{item.saleScopeCode}, #{item.displaySnapshot},
                #{item.snapshotVersion}, now(), #{item.createBy}, now(), #{item.modifyBy}, 1, 1
            )
        </foreach>
    </insert>

    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderVehicleSnapshotPo">
        UPDATE vso_order_vehicle_snapshot t SET
        <if test="optionSnapshot != null and optionSnapshot != ''">
            t.option_snapshot = #{optionSnapshot},
        </if>
        <if test="displaySnapshot != null and displaySnapshot != ''">
            t.display_snapshot = #{displaySnapshot},
        </if>
        <if test="snapshotVersion != null">
            t.snapshot_version = #{snapshotVersion},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE t.id = #{id}
    </update>

    <update id="logicalDeletePo" parameterType="Long">
        UPDATE vso_order_vehicle_snapshot t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM vso_order_vehicle_snapshot
        WHERE id = #{value}
    </delete>

    <delete id="batchPhysicalDeletePo">
        DELETE FROM vso_order_vehicle_snapshot
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>