<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.OrderShadowDeleteMapper">

    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderShadowDeletePo">
        <id column="id" property="id" />
        <result column="shadow_delete_id" property="shadowDeleteId" />
        <result column="origin_order_no" property="originOrderNo" />
        <result column="delete_approval_id" property="deleteApprovalId" />
        <result column="delete_reason" property="deleteReason" />
        <result column="before_main_status" property="beforeMainStatus" />
        <result column="compliance_delete_flag" property="complianceDeleteFlag" />
        <result column="delete_user_id" property="deleteUserId" />
        <result column="delete_time" property="deleteTime" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
    </resultMap>

    <sql id="baseColumnList">
        t.id, t.shadow_delete_id, t.origin_order_no, t.delete_approval_id,
        t.delete_reason, t.before_main_status, t.compliance_delete_flag, t.delete_user_id, t.delete_time,
        t.create_time, t.create_by, t.modify_time, t.modify_by, t.row_version, t.row_valid
    </sql>

    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_shadow_delete t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderShadowDeletePo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_shadow_delete t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="originOrderNo != null and originOrderNo != ''">
            AND t.origin_order_no = #{originOrderNo}
        </if>
        <if test="deleteUserId != null and deleteUserId != ''">
            AND t.delete_user_id = #{deleteUserId}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_shadow_delete t
        WHERE t.row_valid = 1
        <if test="params.originOrderNo != null and params.originOrderNo != ''">
            AND t.origin_order_no = #{params.originOrderNo}
        </if>
        <if test="params.deleteUserId != null and params.deleteUserId != ''">
            AND t.delete_user_id = #{params.deleteUserId}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM vso_order_shadow_delete t
        WHERE t.row_valid = 1
        <if test="params.originOrderNo != null and params.originOrderNo != ''">
            AND t.origin_order_no = #{params.originOrderNo}
        </if>
    </select>

    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vso_order_shadow_delete (
            shadow_delete_id, origin_order_no, delete_approval_id, delete_reason,
            before_main_status, compliance_delete_flag, delete_user_id, delete_time, create_time,
            create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{shadowDeleteId}, #{originOrderNo}, #{deleteApprovalId}, #{deleteReason},
            #{beforeMainStatus}, #{complianceDeleteFlag}, #{deleteUserId}, #{deleteTime}, now(),
            #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <insert id="batchInsertPo">
        INSERT INTO vso_order_shadow_delete (
            shadow_delete_id, origin_order_no, delete_approval_id, delete_reason,
            before_main_status, compliance_delete_flag, delete_user_id, delete_time, create_time,
            create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.shadowDeleteId}, #{item.originOrderNo}, #{item.deleteApprovalId}, #{item.deleteReason},
                #{item.beforeMainStatus}, #{item.complianceDeleteFlag}, #{item.deleteUserId}, #{item.deleteTime}, now(),
                #{item.createBy}, now(), #{item.modifyBy}, 1, 1
            )
        </foreach>
    </insert>

    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderShadowDeletePo">
        UPDATE vso_order_shadow_delete t SET
        <if test="deleteReason != null and deleteReason != ''">
            t.delete_reason = #{deleteReason},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE t.id = #{id}
    </update>

    <update id="logicalDeletePo" parameterType="Long">
        UPDATE vso_order_shadow_delete t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM vso_order_shadow_delete
        WHERE id = #{value}
    </delete>

    <delete id="batchPhysicalDeletePo">
        DELETE FROM vso_order_shadow_delete
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
