<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderPo">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="order_type" property="orderType" />
        <result column="order_source" property="orderSource" />
        <result column="source_remark" property="sourceRemark" />
        <result column="customer_type" property="customerType" />
        <result column="order_state" property="orderState" />
        <result column="end_type" property="endType" />
        <result column="previous_order_state" property="previousOrderState" />
        <result column="brand_code" property="brandCode" />
        <result column="sale_model" property="saleModel" />
        <result column="build_config_code" property="buildConfigCode" />
        <result column="region_code" property="regionCode" />
        <result column="store_code" property="storeCode" />
        <result column="sales_code" property="salesCode" />
        <result column="vehicle_vin" property="vehicleVin" />
        <result column="has_exception" property="hasException" />
        <result column="current_version_no" property="currentVersionNo" />
        <result column="locked_flag" property="lockedFlag" />
        <result column="reopen_flag" property="reopenFlag" />
        <result column="cancel_reason" property="cancelReason" />
        <result column="close_reason" property="closeReason" />
        <result column="void_reason" property="voidReason" />
        <result column="created_at_business" property="createdAtBusiness" />
        <result column="audit_submit_time" property="auditSubmitTime" />
        <result column="audit_pass_time" property="auditPassTime" />
        <result column="lock_time" property="lockTime" />
        <result column="delivery_finish_time" property="deliveryFinishTime" />
        <result column="finish_time" property="finishTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="close_time" property="closeTime" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        t.id, t.order_id, t.order_no, t.order_type, t.order_source, t.source_remark,
        t.customer_type, t.order_state, t.end_type, t.previous_order_state, t.brand_code, t.sale_model,
        t.build_config_code, t.region_code, t.store_code, t.sales_code, t.vehicle_vin, t.has_exception,
        t.current_version_no, t.locked_flag, t.reopen_flag, t.cancel_reason, t.close_reason, t.void_reason,
        t.created_at_business, t.audit_submit_time, t.audit_pass_time, t.lock_time, t.delivery_finish_time,
        t.finish_time, t.cancel_time, t.close_time, t.create_time, t.create_by, t.modify_time, t.modify_by,
        t.row_version, t.row_valid
    </sql>

    <!-- 插入 -->
    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vso_order (
            id, order_id, order_no, order_type, order_source, source_remark,
            customer_type, order_state, end_type, previous_order_state, brand_code, sale_model,
            build_config_code, region_code, store_code, sales_code, vehicle_vin, has_exception,
            current_version_no, locked_flag, reopen_flag, cancel_reason, close_reason, void_reason,
            created_at_business, audit_submit_time, audit_pass_time, lock_time, delivery_finish_time,
            finish_time, cancel_time, close_time, create_time, create_by, modify_time, modify_by,
            row_version, row_valid
        )
        VALUES (
            #{id}, #{orderId}, #{orderNo}, #{orderType}, #{orderSource}, #{sourceRemark},
            #{customerType}, #{orderState}, #{endType}, #{previousOrderState}, #{brandCode}, #{saleModel},
            #{buildConfigCode}, #{regionCode}, #{storeCode}, #{salesCode}, #{vehicleVin}, #{hasException},
            #{currentVersionNo}, #{lockedFlag}, #{reopenFlag}, #{cancelReason}, #{closeReason}, #{voidReason},
            #{createdAtBusiness}, #{auditSubmitTime}, #{auditPassTime}, #{lockTime}, #{deliveryFinishTime},
            #{finishTime}, #{cancelTime}, #{closeTime}, now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <!-- 更新 -->
    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderPo">
        UPDATE vso_order t SET
        <if test="orderNo != null and orderNo != ''">
            t.order_no = #{orderNo},
        </if>
        <if test="orderType != null and orderType != ''">
            t.order_type = #{orderType},
        </if>
        <if test="orderSource != null and orderSource != ''">
            t.order_source = #{orderSource},
        </if>
        <if test="sourceRemark != null and sourceRemark != ''">
            t.source_remark = #{sourceRemark},
        </if>
        <if test="customerType != null and customerType != ''">
            t.customer_type = #{customerType},
        </if>
        <if test="orderState != null">
            t.order_state = #{orderState},
        </if>
        <if test="endType != null and endType != ''">
            t.end_type = #{endType},
        </if>
        <if test="previousOrderState != null">
            t.previous_order_state = #{previousOrderState},
        </if>
        <if test="brandCode != null and brandCode != ''">
            t.brand_code = #{brandCode},
        </if>
        <if test="saleModel != null and saleModel != ''">
            t.sale_model = #{saleModel},
        </if>
        <if test="buildConfigCode != null and buildConfigCode != ''">
            t.build_config_code = #{buildConfigCode},
        </if>
        <if test="regionCode != null and regionCode != ''">
            t.region_code = #{regionCode},
        </if>
        <if test="storeCode != null and storeCode != ''">
            t.store_code = #{storeCode},
        </if>
        <if test="salesCode != null and salesCode != ''">
            t.sales_code = #{salesCode},
        </if>
        <if test="vehicleVin != null and vehicleVin != ''">
            t.vehicle_vin = #{vehicleVin},
        </if>
        <if test="hasException != null">
            t.has_exception = #{hasException},
        </if>
        <if test="currentVersionNo != null">
            t.current_version_no = #{currentVersionNo},
        </if>
        <if test="lockedFlag != null">
            t.locked_flag = #{lockedFlag},
        </if>
        <if test="reopenFlag != null">
            t.reopen_flag = #{reopenFlag},
        </if>
        <if test="cancelReason != null and cancelReason != ''">
            t.cancel_reason = #{cancelReason},
        </if>
        <if test="closeReason != null and closeReason != ''">
            t.close_reason = #{closeReason},
        </if>
        <if test="voidReason != null and voidReason != ''">
            t.void_reason = #{voidReason},
        </if>
        <if test="createdAtBusiness != null">
            t.created_at_business = #{createdAtBusiness},
        </if>
        <if test="auditSubmitTime != null">
            t.audit_submit_time = #{auditSubmitTime},
        </if>
        <if test="auditPassTime != null">
            t.audit_pass_time = #{auditPassTime},
        </if>
        <if test="lockTime != null">
            t.lock_time = #{lockTime},
        </if>
        <if test="deliveryFinishTime != null">
            t.delivery_finish_time = #{deliveryFinishTime},
        </if>
        <if test="finishTime != null">
            t.finish_time = #{finishTime},
        </if>
        <if test="cancelTime != null">
            t.cancel_time = #{cancelTime},
        </if>
        <if test="closeTime != null">
            t.close_time = #{closeTime},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE id = #{id}
    </update>

    <!-- 逻辑删除 -->
    <update id="logicalDeletePo" parameterType="Long">
        UPDATE vso_order t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <!-- 逻辑删除订单 -->
    <update id="logicalDeletePoByOrderNo" parameterType="string">
        UPDATE vso_order t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.order_no = #{orderNo}
    </update>

    <!-- 物理删除 -->
    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM vso_order t
        WHERE t.id = #{value}
    </delete>

    <!-- 物理删除订单 -->
    <delete id="physicalDeletePoByOrderNo" parameterType="string">
        DELETE FROM vso_order t
        WHERE t.order_no = #{orderNo}
    </delete>

    <!-- 根据主键获取对应数据 -->
    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <!-- 根据数据对象获取对应数据列表 -->
    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="orderId != null and orderId != ''">
            AND t.order_id = #{orderId}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND t.order_no = #{orderNo}
        </if>
        <if test="orderType != null and orderType != ''">
            AND t.order_type = #{orderType}
        </if>
        <if test="orderSource != null and orderSource != ''">
            AND t.order_source = #{orderSource}
        </if>
        <if test="customerType != null and customerType != ''">
            AND t.customer_type = #{customerType}
        </if>
        <if test="orderState != null">
            AND t.order_state = #{orderState}
        </if>
        <if test="brandCode != null and brandCode != ''">
            AND t.brand_code = #{brandCode}
        </if>
        <if test="regionCode != null and regionCode != ''">
            AND t.region_code = #{regionCode}
        </if>
        <if test="storeCode != null and storeCode != ''">
            AND t.store_code = #{storeCode}
        </if>
        <if test="salesCode != null and salesCode != ''">
            AND t.sales_code = #{salesCode}
        </if>
        <if test="vehicleVin != null and vehicleVin != ''">
            AND t.vehicle_vin = #{vehicleVin}
        </if>
        <if test="createTime != null">
            AND t.create_time = #{createTime}
        </if>
        <if test="createBy != null">
            AND t.create_by = #{createBy}
        </if>
        <if test="modifyTime != null">
            AND t.modify_time = #{modifyTime}
        </if>
        <if test="modifyBy != null">
            AND t.modify_by = #{modifyBy}
        </if>
        <if test="rowVersion != null">
            AND t.row_version = #{rowVersion}
        </if>
        ORDER BY t.id DESC
    </select>

    <!-- 根据Map对象获取对应数据列表 -->
    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order t
        WHERE t.row_valid = 1
        <if test="orderState != null">
            AND t.order_state = #{orderState}
        </if>
        <if test="orderStateRange != null and orderStateRange.size() > 0">
            AND t.order_state IN
            <foreach collection="orderStateRange" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND t.order_no = #{orderNo}
        </if>
        <if test="storeCode != null and storeCode != ''">
            AND t.store_code = #{storeCode}
        </if>
        <if test="salesCode != null and salesCode != ''">
            AND t.sales_code = #{salesCode}
        </if>
        <if test="beginTime != null">
            AND t.created_at_business &gt;= #{beginTime}
        </if>
        <if test="endTime != null">
            AND t.created_at_business &lt;= #{endTime}
        </if>
        ORDER BY t.id DESC
    </select>

    <!-- 根据Map对象统计记录数 -->
    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM vso_order t
        WHERE t.row_valid = 1
    </select>

    <!-- 根据订单号和账户ID获取订单 -->
    <select id="selectByOrderNoAndAccountId" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order t
        WHERE t.order_no = #{orderNo}
        AND t.row_valid = 1
    </select>

    <!-- 根据订单号获取订单 -->
    <select id="selectByOrderNo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order t
        WHERE t.order_no = #{orderNo}
        AND t.row_valid = 1
    </select>

    <!-- 根据订单ID获取订单 -->
    <select id="selectByOrderId" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order t
        WHERE t.order_id = #{orderId}
        AND t.row_valid = 1
    </select>

    <!-- 批量物理删除 -->
    <delete id="batchPhysicalDeletePo">
        DELETE FROM vso_order
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
