<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.OrderVersionDiffMapper">

    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderVersionDiffPo">
        <id column="id" property="id" />
        <result column="order_version_diff_id" property="orderVersionDiffId" />
        <result column="order_version_id" property="orderVersionId" />
        <result column="field_name" property="fieldName" />
        <result column="field_label" property="fieldLabel" />
        <result column="before_value" property="beforeValue" />
        <result column="after_value" property="afterValue" />
        <result column="change_category" property="changeCategory" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
    </resultMap>

    <sql id="baseColumnList">
        t.id, t.order_version_diff_id, t.order_version_id, t.field_name, t.field_label,
        t.before_value, t.after_value, t.change_category, t.create_time, t.create_by,
        t.modify_time, t.modify_by, t.row_version, t.row_valid
    </sql>

    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_version_diff t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderVersionDiffPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_version_diff t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="orderVersionId != null and orderVersionId != ''">
            AND t.order_version_id = #{orderVersionId}
        </if>
        <if test="fieldName != null and fieldName != ''">
            AND t.field_name = #{fieldName}
        </if>
        <if test="changeCategory != null and changeCategory != ''">
            AND t.change_category = #{changeCategory}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_version_diff t
        WHERE t.row_valid = 1
        <if test="params.versionId != null and params.versionId != ''">
            AND t.order_version_id = #{params.versionId}
        </if>
        <if test="params.orderVersionId != null and params.orderVersionId != ''">
            AND t.order_version_id = #{params.orderVersionId}
        </if>
        <if test="params.changeCategory != null and params.changeCategory != ''">
            AND t.change_category = #{params.changeCategory}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM vso_order_version_diff t
        WHERE t.row_valid = 1
        <if test="params.orderVersionId != null and params.orderVersionId != ''">
            AND t.order_version_id = #{params.orderVersionId}
        </if>
    </select>

    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vso_order_version_diff (
            order_version_diff_id, order_version_id, field_name, field_label,
            before_value, after_value, change_category, create_time, create_by,
            modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{orderVersionDiffId}, #{orderVersionId}, #{fieldName}, #{fieldLabel},
            #{beforeValue}, #{afterValue}, #{changeCategory}, now(), #{createBy},
            now(), #{modifyBy}, 1, 1
        )
    </insert>

    <insert id="batchInsertPo">
        INSERT INTO vso_order_version_diff (
            order_version_diff_id, order_version_id, field_name, field_label,
            before_value, after_value, change_category, create_time, create_by,
            modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.orderVersionDiffId}, #{item.orderVersionId}, #{item.fieldName}, #{item.fieldLabel},
                #{item.beforeValue}, #{item.afterValue}, #{item.changeCategory}, now(), #{item.createBy},
                now(), #{item.modifyBy}, 1, 1
            )
        </foreach>
    </insert>

    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderVersionDiffPo">
        UPDATE vso_order_version_diff t SET
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE t.id = #{id}
    </update>

    <update id="logicalDeletePo" parameterType="Long">
        UPDATE vso_order_version_diff t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM vso_order_version_diff
        WHERE id = #{value}
    </delete>

    <delete id="batchPhysicalDeletePo">
        DELETE FROM vso_order_version_diff
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>