<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.OrderStatusDimensionMapper">

    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderStatusDimensionPo">
        <id column="id" property="id" />
        <result column="status_dimension_id" property="statusDimensionId" />
        <result column="order_id" property="orderId" />
        <result column="audit_status" property="auditStatus" />
        <result column="vehicle_status" property="vehicleStatus" />
        <result column="contract_status" property="contractStatus" />
        <result column="payment_status" property="paymentStatus" />
        <result column="finance_status" property="financeStatus" />
        <result column="subsidy_status" property="subsidyStatus" />
        <result column="delivery_status" property="deliveryStatus" />
        <result column="registration_status" property="registrationStatus" />
        <result column="invoice_status" property="invoiceStatus" />
        <result column="material_status" property="materialStatus" />
        <result column="exception_status" property="exceptionStatus" />
        <result column="last_sync_source" property="lastSyncSource" />
        <result column="last_sync_time" property="lastSyncTime" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
    </resultMap>

    <sql id="baseColumnList">
        t.id, t.status_dimension_id, t.order_id, t.audit_status, t.vehicle_status, t.contract_status,
        t.payment_status, t.finance_status, t.subsidy_status, t.delivery_status, t.registration_status,
        t.invoice_status, t.material_status, t.exception_status, t.last_sync_source, t.last_sync_time,
        t.create_time, t.create_by, t.modify_time, t.modify_by, t.row_version, t.row_valid
    </sql>

    <select id="selectByOrderId" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_status_dimension t
        WHERE t.order_id = #{orderId}
        AND t.row_valid = 1
    </select>

    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_status_dimension t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderStatusDimensionPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_status_dimension t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="orderId != null and orderId != ''">
            AND t.order_id = #{orderId}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM vso_order_status_dimension t
        WHERE t.row_valid = 1
        <if test="params.orderId != null and params.orderId != ''">
            AND t.order_id = #{params.orderId}
        </if>
        ORDER BY t.id DESC
    </select>

    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM vso_order_status_dimension t
        WHERE t.row_valid = 1
        <if test="params.orderId != null and params.orderId != ''">
            AND t.order_id = #{params.orderId}
        </if>
    </select>

    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vso_order_status_dimension (
            status_dimension_id, order_id, audit_status, vehicle_status, contract_status,
            payment_status, finance_status, subsidy_status, delivery_status, registration_status,
            invoice_status, material_status, exception_status, last_sync_source, last_sync_time,
            create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{statusDimensionId}, #{orderId}, #{auditStatus}, #{vehicleStatus}, #{contractStatus},
            #{paymentStatus}, #{financeStatus}, #{subsidyStatus}, #{deliveryStatus}, #{registrationStatus},
            #{invoiceStatus}, #{materialStatus}, #{exceptionStatus}, #{lastSyncSource}, #{lastSyncTime},
            now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <insert id="batchInsertPo">
        INSERT INTO vso_order_status_dimension (
            status_dimension_id, order_id, audit_status, vehicle_status, contract_status,
            payment_status, finance_status, subsidy_status, delivery_status, registration_status,
            invoice_status, material_status, exception_status, last_sync_source, last_sync_time,
            create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.statusDimensionId}, #{item.orderId}, #{item.auditStatus}, #{item.vehicleStatus}, #{item.contractStatus},
                #{item.paymentStatus}, #{item.financeStatus}, #{item.subsidyStatus}, #{item.deliveryStatus}, #{item.registrationStatus},
                #{item.invoiceStatus}, #{item.materialStatus}, #{item.exceptionStatus}, #{item.lastSyncSource}, #{item.lastSyncTime},
                now(), #{item.createBy}, now(), #{item.modifyBy}, 1, 1
            )
        </foreach>
    </insert>

    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.OrderStatusDimensionPo">
        UPDATE vso_order_status_dimension t SET
        <if test="auditStatus != null and auditStatus != ''">
            t.audit_status = #{auditStatus},
        </if>
        <if test="vehicleStatus != null and vehicleStatus != ''">
            t.vehicle_status = #{vehicleStatus},
        </if>
        <if test="contractStatus != null and contractStatus != ''">
            t.contract_status = #{contractStatus},
        </if>
        <if test="paymentStatus != null and paymentStatus != ''">
            t.payment_status = #{paymentStatus},
        </if>
        <if test="financeStatus != null and financeStatus != ''">
            t.finance_status = #{financeStatus},
        </if>
        <if test="subsidyStatus != null and subsidyStatus != ''">
            t.subsidy_status = #{subsidyStatus},
        </if>
        <if test="deliveryStatus != null and deliveryStatus != ''">
            t.delivery_status = #{deliveryStatus},
        </if>
        <if test="registrationStatus != null and registrationStatus != ''">
            t.registration_status = #{registrationStatus},
        </if>
        <if test="invoiceStatus != null and invoiceStatus != ''">
            t.invoice_status = #{invoiceStatus},
        </if>
        <if test="materialStatus != null and materialStatus != ''">
            t.material_status = #{materialStatus},
        </if>
        <if test="exceptionStatus != null and exceptionStatus != ''">
            t.exception_status = #{exceptionStatus},
        </if>
        <if test="lastSyncSource != null and lastSyncSource != ''">
            t.last_sync_source = #{lastSyncSource},
        </if>
        <if test="lastSyncTime != null">
            t.last_sync_time = #{lastSyncTime},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE t.id = #{id}
    </update>

    <update id="logicalDeletePo" parameterType="Long">
        UPDATE vso_order_status_dimension t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM vso_order_status_dimension
        WHERE id = #{value}
    </delete>

    <delete id="batchPhysicalDeletePo">
        DELETE FROM vso_order_status_dimension
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>