<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.SaleModelOptionPolicyMapper">
    <select id="selectBySaleModelCode" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.SaleModelOptionPolicyPo">
        SELECT * FROM vso_sale_model_option_policy
        WHERE sale_model_code = #{saleModelCode} AND row_valid = 1
    </select>
    
    <select id="selectBySaleModelCodeAndOptionCodes" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.SaleModelOptionPolicyPo">
        SELECT * FROM vso_sale_model_option_policy
        WHERE sale_model_code = #{saleModelCode}
        <if test="optionCodes != null and !optionCodes.isEmpty()">
            AND option_code IN
            <foreach collection="optionCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        AND row_valid = 1
    </select>
    
    <select id="selectBySaleModelCodeAndOptionCode" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.SaleModelOptionPolicyPo">
        SELECT * FROM vso_sale_model_option_policy
        WHERE sale_model_code = #{saleModelCode} AND option_code = #{optionCode} AND row_valid = 1
    </select>

    <update id="updateByIdDirect">
        UPDATE vso_sale_model_option_policy
        SET option_family_code = #{optionFamilyCode},
            sale_status = #{saleStatus},
            option_price = #{optionPrice},
            available_regions = #{availableRegions},
            channels = #{channels},
            bundle_with = #{bundleWith},
            mutex_with = #{mutexWith},
            marketing_title = #{marketingTitle},
            marketing_image = #{marketingImage},
            sort_weight = #{sortWeight},
            modify_time = NOW()
        WHERE id = #{id} AND row_valid = 1
    </update>
</mapper>
