<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.SaleModelOptionPolicyMapper">
    <select id="selectBySaleModelCode" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.SaleModelOptionPolicyPo">
        SELECT * FROM tb_sale_model_option_policy
        WHERE sale_model_code = #{saleModelCode} AND row_valid = 1
    </select>
    
    <select id="selectBySaleModelCodeAndOptionCodes" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.SaleModelOptionPolicyPo">
        SELECT * FROM tb_sale_model_option_policy
        WHERE sale_model_code = #{saleModelCode} AND option_code IN
        <foreach collection="optionCodes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND row_valid = 1
    </select>
    
    <select id="selectBySaleModelCodeAndOptionCode" resultType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.po.SaleModelOptionPolicyPo">
        SELECT * FROM tb_sale_model_option_policy
        WHERE sale_model_code = #{saleModelCode} AND option_code = #{optionCode} AND row_valid = 1
    </select>
</mapper>
