<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.persistence.mapper.SaleModelBuildConfigMapper">

    <delete id="physicalDeleteByIds">
        DELETE FROM vso_sale_model_build_config
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="physicalDeleteBySaleCodeAndBuildConfigCode">
        DELETE FROM vso_sale_model_build_config
        WHERE sale_code = #{saleCode}
        AND build_config_code = #{buildConfigCode}
    </delete>

</mapper>