<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.vso.service.infrastructure.repository.dao.SaleModelConfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.vso.service.infrastructure.repository.po.SaleModelConfigPo">
        <id column="id" property="id" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
        <result column="sale_code" property="saleCode" />
        <result column="type" property="type" />
        <result column="type_code" property="typeCode" />
        <result column="type_name" property="typeName" />
        <result column="type_price" property="typePrice" />
        <result column="type_image" property="typeImage" />
        <result column="type_desc" property="typeDesc" />
        <result column="type_param" property="typeParam" />
        <result column="enable" property="enable" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id, sale_code, type, type_code, type_name, type_price, type_image, type_desc, type_param, enable, sort, 
        description, create_time, create_by, modify_time, modify_by, row_version, row_valid
    </sql>

    <!-- 插入 -->
    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_sale_model_config (
            id, sale_code, type, type_code, type_name, type_price, type_image, type_desc, type_param, enable, sort, 
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{id}, #{saleCode}, #{type}, #{typeCode}, #{typeName}, #{typePrice}, #{typeImage}, #{typeDesc}, #{typeParam}, #{enable}, #{sort}, 
            #{description}, now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsertPo" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO tb_sale_model_config (
            id, sale_code, type, type_code, type_name, type_price, type_image, type_desc, type_param, enable, sort, 
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.id}, #{item.saleCode}, #{item.type}, #{item.typeCode}, #{item.typeName}, #{item.typePrice}, #{item.typeImage}, #{item.typeDesc}, #{item.typeParam}, #{item.enable}, #{item.sort}, 
            #{item.description}, now(), #{item.createBy}, now(), #{item.modifyBy}, 1, 1
        )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.repository.po.SaleModelConfigPo">
        UPDATE tb_sale_model_config t SET
        <if test="saleCode != null and saleCode != ''">
            t.sale_code = #{saleCode},
        </if>
        <if test="type != null and type != ''">
            t.type = #{type},
        </if>
        <if test="typeCode != null and typeCode != ''">
            t.type_code = #{typeCode},
        </if>
        <if test="typeName != null and typeName != ''">
            t.type_name = #{typeName},
        </if>
        <if test="typePrice != null">
            t.type_price = #{typePrice},
        </if>
        <if test="typeImage != null and typeImage != ''">
            t.type_image = #{typeImage},
        </if>
        <if test="typeDesc != null and typeDesc != ''">
            t.type_desc = #{typeDesc},
        </if>
        <if test="typeParam != null and typeParam != ''">
            t.type_param = #{typeParam},
        </if>
        <if test="enable != null">
            t.enable = #{enable},
        </if>
        <if test="sort != null">
            t.sort = #{sort},
        </if>
        <if test="description != null and description != ''">
            t.description = #{description},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE id = #{id}
    </update>

    <!-- 逻辑删除 -->
    <update id="logicalDeletePo" parameterType="Long">
        UPDATE tb_sale_model_config t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <!-- 物理删除 -->
    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM tb_sale_model_config t
        WHERE t.id = #{value}
    </delete>

    <!-- 批量物理删除销售车型配置信息 -->
    <delete id="batchPhysicalDeletePo" parameterType="Long">
        DELETE FROM tb_sale_model_config t
        WHERE t.sale_code = #{saleCode}
        <if test="ids != null">
            AND t.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </delete>

    <!-- 根据主键获取对应数据 -->
    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_sale_model_config t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <!-- 根据数据对象获取对应数据列表 -->
    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.vso.service.infrastructure.repository.po.SaleModelConfigPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_sale_model_config t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="saleCode != null and saleCode != ''">
            AND t.sale_code = #{saleCode}
        </if>
        <if test="type != null and type != ''">
            AND t.type = #{type}
        </if>
        <if test="typeCode != null and typeCode != ''">
            AND t.type_code = #{typeCode}
        </if>
        <if test="typeName != null and typeName != ''">
            AND t.type_name = #{typeName}
        </if>
        <if test="typePrice != null">
            AND t.type_price = #{typePrice}
        </if>
        <if test="typeImage != null and typeImage != ''">
            AND t.type_image = #{typeImage}
        </if>
        <if test="typeDesc != null and typeDesc != ''">
            AND t.type_desc = #{typeDesc}
        </if>
        <if test="typeParam != null and typeParam != ''">
            AND t.type_param = #{typeParam}
        </if>
        <if test="enable != null">
            AND t.enable = #{enable}
        </if>
        <if test="sort != null">
            AND t.sort = #{sort}
        </if>
        <if test="description != null and description != ''">
            AND t.description = #{description}
        </if>
        <if test="createTime != null">
            AND t.create_time = #{createTime}
        </if>
        <if test="createBy != null">
            AND t.create_by = #{createBy}
        </if>
        <if test="modifyTime != null">
            AND t.modify_time = #{modifyTime}
        </if>
        <if test="modifyBy != null">
            AND t.modify_by = #{modifyBy}
        </if>
        <if test="rowVersion != null">
            AND t.row_version = #{rowVersion}
        </if>
        ORDER BY t.sort ASC, t.id DESC
    </select>

    <!-- 根据Map对象获取对应数据列表 -->
    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_sale_model_config t
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
        ORDER BY t.id DESC
    </select>

    <!-- 根据Map对象统计记录数 -->
    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM tb_sale_model_config t
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
    </select>
</mapper>
